/* Membuat scrollbar di komputer tetap tipis dan cantik */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* Animasi saat berpindah tab agar tidak kaku di layar lebar */
main {
  transition: all 0.3s ease-in-out;
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

body {
  margin: 0;
  padding: 0;
}